#!/bin/bash

# by nols
# Script to automatically download, verify and update monero.
# bundeled with monerod ansible role: git@gitlab.com:sleepy_nols/ansible_role_monerod.git

#
# Ansible managed
#

set -e

UNIX_USER="{{ monerod_unix_user }}"
UNIX_GROUP="{{ monerod_unix_group }}"

HASHES_TXT_URL="{{ monerod_signed_hashes_url }}"
BINARYFATE_GPG_FPR="{{ monerod_gpg_binaryfate_key_fpr }}"
BINARYFATE_GPG_KEYSERVER="{{ monerod_gpg_keyserver }}"

GPG_BIN_PATH="{{ monerod_gpg_bin_path }}"
HOME_DIR="{{ monerod_home_dir }}"
DOWNLOAD_DIR="{{ monerod_download_dir }}"
RELEASES_DIR="${HOME_DIR}/releases"
LOG_FILE_PATH="{{ monerod_auto_upgrade_log_file }}"

HASHES_TXT_PATH="${DOWNLOAD_DIR}/hashes.txt"

VERIFY_GOOD_SIG_MATCH=$'81AC591FE9C4B65C5806AFC3F0AF4D462A0BDF92\ngpg: Good signature from "binaryFate <binaryfate@getmonero.org>"'

function log() {
  timestamp="$(date -Iseconds)"
  echo "[${timestamp}] ${1}"
  echo "[${timestamp}] ${1}" >>"${LOG_FILE_PATH}"
}

log "RUNNING MONERO UPDATER..."

# Check if monerod is running
if [[ $(systemctl is-active --quiet monerod.service) == false ]]; then
  log "[ERROR] monerod.serivce is not active. Exiting..."
  exit 1
fi

# Check for updates
update_request_response="$(monerod update check)"

# Clean exit if no update is available
if [[ "${update_request_response}" != *"Update available: "* ]]; then
  log "No updates available. Exiting..."
  exit 0
fi

new_version_trusted_updater_shasum="$(echo "${update_request_response}" | grep -oPe '(?<=hash\ )[A-Fa-f0-9]{64}$')"
new_version_number="$(echo "${update_request_response}" | grep -oPe '(?<=Update\ available:\ v)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}')"
current_version_number="$(echo "${update_request_response}" | grep -oPe '(?<=\(v)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}(?=-release\))')"
new_version_download_url="$(echo "${update_request_response}" | grep -oPe 'https:\/\/downloads.getmonero.org\/cli\/monero-linux-x64-v\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}.tar.bz2(?=,\ hash\ [A-Fa-f0-9]{64}$)')"
new_version_archive_name="$(echo "${new_version_download_url}" | grep -oPe 'monero-linux-x64-v\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}.tar.bz2')"

# get hashes.txt
wget --quiet --output-document="${HASHES_TXT_PATH}" "${HASHES_TXT_URL}"

# get binaryfates gpg key from keyservers
$GPG_BIN_PATH --keyserver "${BINARYFATE_GPG_KEYSERVER}" --recv-key "${BINARYFATE_GPG_FPR}"

# verify hashes txt with gpg
gpg_verify_response="$($GPG_BIN_PATH --verify "${HASHES_TXT_PATH}" 2>&1)"

# echo -e "\n\nkeyserver:\n${gpg_keyserver_response}\n\nverify:\n${gpg_verify_response}"

# Assert that hashes.txt has good GPG signature
if [[ "${gpg_verify_response}" == *"${VERIFY_GOOD_SIG_MATCH}"* ]]; then
  log "[INFO] Good GPG signature on hashes.txt..."
else
  log "[ERROR] Bad GPG signature on hashes.txt"
  exit 1
fi

# Get content of hashes.txt
hashes_txt_content=$(cat "${HASHES_TXT_PATH}")

# Check if the new verision is included in hashes.txt
if [[ "${hashes_txt_content}" == *"${new_version_archive_name}"* ]]; then
  new_version_trusted_txt_shasum="$(echo "${hashes_txt_content}" | grep -oPe "[A-Fa-f0-9]{64}(?=\ \ ${new_version_archive_name})")"
else
  log "[ERROR] New version ${new_version_number} does not yet exist in hashes.txt. Waiting for hashes.txt to get updated, trying again on next run..."
  exit 1
fi

# Assert that shasum advertised by monerod matches hashes.txt
if [[ "${new_version_trusted_updater_shasum}" == "${new_version_trusted_txt_shasum}" ]]; then
  log "[INFO] Shasum advertised by monerod matches hashes.txt"
else
  log "[ERROR] Shasum advertised by monerod DOES NOT MATCH hashes.txt, something is wrong!"
  exit 1
fi

log "[INFO] current_version_number: ${current_version_number}"
log "[INFO] new_version_number: ${new_version_number}"
log "[INFO] new_version_download_url: ${new_version_download_url}"
log "[INFO] new_version_trusted_updater_shasum: ${new_version_trusted_updater_shasum}"
log "[INFO] new_version_trusted_txt_shasum: ${new_version_trusted_txt_shasum}"

# Download monero binaries
log "[INFO] Downloading monero binaries..."
wget --quiet --output-document="${DOWNLOAD_DIR}/monero.tar.bz2" "${new_version_download_url}"

# Make new release
if [[ -d "${RELEASES_DIR}/${new_version_number}" ]]; then
  log "[INFO] Release folder ${new_version_number} already exists."
else
  mkdir "${RELEASES_DIR}/${new_version_number}"
  chown -R "${UNIX_USER}:${UNIX_GROUP}" "${RELEASES_DIR}/${new_version_number}"
  chmod 710 -R "${RELEASES_DIR}/${new_version_number}"
  log "[INFO] New release ${new_version_number} created."
fi

new_release_archive_path="${RELEASES_DIR}/${new_version_number}/monero.tar.bz2"

# Copy downloaded archive to release dir
cp "${DOWNLOAD_DIR}/monero.tar.bz2" "${RELEASES_DIR}/${new_version_number}"
chown "${UNIX_USER}:${UNIX_GROUP}" "${new_release_archive_path}"
chmod 710 "${new_release_archive_path}"

# Get name of folder inside of archive and strip trailing slash
new_version_folder_name="$(tar -tf "${new_release_archive_path}" | head -n 1 | sed 's/\///g')"

# Unpack
log "[INFO] Extracting archive..."
tar -xf "${new_release_archive_path}" --directory "${RELEASES_DIR}/${new_version_number}"

# Symlink current to binary path
ln -sf "${RELEASES_DIR}/${new_version_number}/${new_version_folder_name}/monerod" "/usr/local/bin/monerod"

# Restart monerod systemd service
systemctl restart monerod.service
log "[INFO] Systemd unit monerod.service restarted."

log "SUCCESSFULLY UPDATED MONERO FROM v${current_version_number} TO v${new_version_number}"
