#jinja2:trim_blocks:False
#
# {{ ansible_managed }}
#

{{ monerod_log_file }} {
  rotate {{ monerod_logrotate.rotate }}
  {{ monerod_logrotate.frequency }}
  {% if monerod_logrotate.compress | bool %}compress{% endif %}
  {% if monerod_logrotate.shred | bool %}shred{% endif %}
  copytruncate
  missingok
  notifempty
  create 0740 "{{ monerod_unix_user }}" "{{ monerod_unix_user }}"
}

{{ monerod_auto_upgrade_log_file }} {
  rotate {{ monerod_logrotate_auto_upgrade.rotate }}
  {{ monerod_logrotate_auto_upgrade.frequency }}
  {% if monerod_logrotate_auto_upgrade.compress | bool %}compress{% endif %}
  {% if monerod_logrotate_auto_upgrade.shred | bool %}shred{% endif %}
  copytruncate
  missingok
  notifempty
  create 0740 "{{ monerod_unix_user }}" "{{ monerod_unix_user }}"
}
